@page "{saleId:min(1)}"
@model NewAgePOS.Pages.Sale.ReceiptModel
@{
  ViewData["Title"] = "Receipt";
  CultureInfo dollar = new CultureInfo("en-US");
}

@if (TempData["Message"] != null)
{
  <div class="mt-5 text-danger hideInPrint" style="white-space: pre-wrap;">@TempData["Message"]</div>
}

<div style="max-width: 300px; margin: auto;">
  <div class="text-center">
    <img src="~/images/Golfio_Logo.png" />
  </div>
  <div class="my-3">
    <p class="text-center m-0">19950 E Walnut Dr. N</p>
    <p class="text-center m-0">Walnut, CA 91789</p>
    <p class="text-center m-0">909-460-8788</p>
  </div>
  <div>
    <h4 class="text-center">Sale Receipt</h4>
  </div>
  <div class="mb-3">
    <p class="text-center m-0">@Model.SaleId</p>
    <p class="text-center m-0">@Model.Created</p>
  </div>
</div>

@await Component.InvokeAsync("PriceSummary", new { saleId = Model.SaleId })

<div class="my-5">
  <p class="text-center">All sales are final</p>
  @if (string.IsNullOrEmpty(Model.FullName))
  {
    <p class="text-center">Thank you!</p>
  }
  else
  {
    <p class="text-center">Thank you @Model.FullName!</p>
  }
</div>

@section Scripts{
  <style media="print">
    .hideInPrint {
      display: none;
    }
  </style>
}
