@page "{saleid:min(1)}"
@model NewAgePOS.Pages.Sale.RefundModel
@{
  ViewData["Title"] = "Sales Refund";
}

<partial name="_HeaderPartial" model="@Model.SaleId" />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
  <div class="col">
    <form method="post">
      <div class="form-group">
        <label asp-for="Codes"></label>
        <textarea asp-for="Codes" class="form-control" rows="3"></textarea>
      </div>
      <button asp-page-handler="Add" type="submit" class="btn btn-primary">Add</button>
      <button asp-page-handler="Remove" type="submit" class="btn btn-warning">Remove</button>
    </form>
  </div>
</div>

@await Component.InvokeAsync("ItemList", new { saleId = Model.SaleId })

@await Component.InvokeAsync("PriceSummary", new { saleId = Model.SaleId })

@await Component.InvokeAsync("Messages", new { saleId = Model.SaleId })

@section Scripts{
  <script src="~/js/site.js" asp-append-version="true"></script>
}