@page
@model NewAgePOS.Pages.AccessDeniedModel
@{
  ViewData["Title"] = "Access Denied";
}

<partial name="_HeaderPartial" model="0" />

<div class="text-center"><i class="fas fa-low-vision fa-7x"></i></div>