@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome!</h1>

<p>The NewAge POS will continue to be developed as needs arise. Feel free to contact me if you find any issues.</p>

<a asp-page="/Sale/Index" class="btn btn-primary">SALE</a>