@model int

<div class="mt-2 mb-3">
  <div class="row">
    <h1 class="font-weight-bold m-auto">@ViewData["Title"]</h1>
  </div>
  @if (Model != 0)
  {
    <div class="row">
      <h5 class="m-auto">#@Model</h5>
    </div>
  }
</div>

@if (TempData["Message"] != null)
{
  <h5 class="text-danger mb-3 text-center hideInPrint" style="white-space:pre-wrap;">@TempData["Message"]</h5>
}